package views

import (
    "go-steam/views/layout"
    "go-steam/model"
    )

templ ShowLibrary(library model.Library) {
    @layout.Base(){

        <h1>Steam User Library</h1>
        for _, card := range library.Cards {
            <a href={ templ.URL("/getSteamUserLibrary/" + card.AppID)}>
                <div>
                    <img src={ card.CapsuleImage }>
                    <li>{ card.Name }</li>
                </div>
            </a>
        }
    }
}