<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>

<body>
    <button hx-get="/updateSteamUserLibrary">Get Steam Library</button>
    <ul>
        {{range .}}
        <div>
            <li>
                <span>{{ .Appid }}</span>
                <span>({{ .Name }})</span>
            </li>
        </div>
        <button hx-get="/updateSteamUserLibraryAchievements/{{.Appid}}">Update Steam Achievements</button>
        <div hx-get="/getSteamUserLibraryAchievements/{{.Appid}}">
            {{ range . achivements}}
            <span>{{ .Name }}</span>
            {{end}}
        </div>
        {{end}}
    </ul>
</body>

</html>