<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>

<body>
    <button hx-get="/updateSteamUserLibrary">Get Steam Library</button>
    <div></div>
    <ul>
        {{range .library}}
        <li>
            <a href="/getSteamUserLibrary/{{.AppID}}">
                <img src="{{ .CapsuleImage }}" />
                <span>{{.Name}}</span>
                <span>({{.AppID}})</span>
            </a>
        </li>
        {{end}}
    </ul>
    </div>
</body>

</html>