package layout

templ Base() {
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>

    <body>
    @Navbar()

    { children... }
    </body>

    </html>
}

templ Navbar() {
    <ul>
    <li><a href="/">Library</a></li>
    <li><a href="/friendsList">Friends</a></li>
    </ul>
}