package layout

templ Base() {
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>

    <body>
    <button>
    <a href="/">Home</a>
    </button>

    { children... }
    </body>

    </html>
}